@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: white; /* penting biar tidak tembus */
}

.swiper-button-next,
.swiper-button-prev {
  width: 45px;
  height: 45px;
  background: rgba(0,0,0,0.4);
  border-radius: 50%;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Warna icon panah */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

/* Posisi tombol */
.swiper-button-next {
  right: 20px;
}

.swiper-button-prev {
  left: 20px;
}
